<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Previsão de Diabetes</title>
  </head>
  <body>

    <h3>Previsão Diabetes</h3>

    <div class="form-group col-sm-6 mx-auto">
      <form action="/result" method="post">
        <label for="gest">Número de Gestações</label>
        <input type="text" id='gest' name="gest">
        <br>
        <label for="glic">Concentração de Glicose</label>
        <input type="text" id='glic' name="glic">
        <br>
        <label for="press">Pressão Diastólica (mm Hg)</label>
        <input type="text" id='press' name="press">
        <br>
        <label for="tric">Espessura da Dobra Cutânea do Tríceps (mm Hg)</label>
        <input type="text" id='tric' name="tric">
        <br>
        <label for="insul">Nível de Insulina (mu U/ml)</label>
        <input type="text" id='insul' name="insul">
        <br>
        <label for="imc">Índice de Massa Corporal</label>
        <input type="text" id='imc' name="imc">
        <br>
        <label for="gen">Herança Genética</label>
        <input type="text" id='gen' name="gen">
        <br>
        <label for="age">Idade (idade)</label>
        <input type="text" id='age' name="age">
        <br>
        <input type="submit" value="Enviar">
      </form>
    </div>
  </body>
</html>
