<!doctype html>

<!-- Esse é o menu que será inserido em principal
É um HTML enxertado no HTML do principal -->

<header>
  <nav>
    <!--
    Nav é uma tag para fazer uma navegação (HTML semântico).
    Faço a navegação utilizando um "a href", é um link para uma outra página
    -->

    <ul>
      <!-- ul é uma lista de itens (menu nada mais é que isso) -->
      <!-- li é litem de lista -->
      <li><a href="/principal">Principal</a></li>
      <li><a href="/genero">Gênero</a></li>
      <li><a href="/principal">Séries</a></li>

    </ul>

  <nav>
</header>
